<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.untitled2</string>
	<key>CFBundleName</key>
	<string>skaborik</string>
	<key>CFBundleVersion</key>
	<string></string>
	<key>KLInfo_Russian-Belarusian</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<true/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.untitled2.russian-belarusian</string>
		<key>TISIntendedLanguage</key>
		<string>ru</string>
	</dict>
	<key>KLInfo_U.S. dot</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<true/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.untitled2.u.s.dot</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
</dict>
</plist>
